[Unit]
Description=Disk Cleaner for Dash Camera

[Service]
User=pi
ExecStart=/home/pi/dashcam/clean.py
Restart=always

[Install]
WantedBy=multi-user.target
