[Unit]
Description=Pi Camera Stream Suppressor

[Service]
Type=simple
ExecStart=arp-scan -l | grep 38:a4:ed:be:70:7c && systemctl stop picam-stream || systemctl start picam-stream

[Install]
WantedBy=multi-user.target
